# User routes on the site
## Description
**Clickstream** is a sequence of user actions on a website. It allows you to understand how users interact with the site. In this task, you need to find the most frequent custom routes.

## Input data
Input data is а table with clickstream data in file `hdfs:/data/clickstream.csv`.

### Table structure
* `user_id (int)` - Unique user identifier.
* `session_id (int)` - Unique identifier for the user session. The user's session lasts until the identifier changes.
* `event_type (string)` - Event type from the list:
    * **page** - visit to the page
    * **event** - any action on the page
    * <b>&lt;custom&gt;</b> - string with any other type
* `event_type (string)` - Page on the site.
* `timestamp (int)` - Unix-timestamp of action.

### Browser errors
Errors can sometimes occur in the user's browser - after such an error appears, we can no longer trust the data of this session and all the following lines after the error or at the same time with it are considered corrupted and **should not be counted** in statistics.

When an error occurs on the page, a random string containing the word **error** will be written to the `event_type` field.

### Sample of user session
<pre>
+-------+----------+------------+----------+----------+
|user_id|session_id|  event_type|event_page| timestamp|
+-------+----------+------------+----------+----------+
|    562|       507|        page|      main|1620494781|
|    562|       507|       event|      main|1620494788|
|    562|       507|       event|      main|1620494798|
|    562|       507|        page|    family|1620494820|
|    562|       507|       event|    family|1620494828|
|    562|       507|        page|      main|1620494848|
|    562|       507|wNaxLlerrorU|      main|1620494865|
|    562|       507|       event|      main|1620494873|
|    562|       507|        page|      news|1620494875|
|    562|       507|        page|   tariffs|1620494876|
|    562|       507|       event|   tariffs|1620494884|
|    562|       514|        page|      main|1620728918|
|    562|       514|       event|      main|1620729174|
|    562|       514|        page|   archive|1620729674|
|    562|       514|        page|     bonus|1620729797|
|    562|       514|        page|   tariffs|1620731090|
|    562|       514|       event|   tariffs|1620731187|
+-------+----------+------------+----------+----------+
</pre>

#### Correct user routes for a given user:
* **Session 507**: main-family-main
* **Session 514**: main-archive-bonus-tariffs

Route elements are ordered by the time they appear in the clickstream, from earliest to latest.

The route must be accounted for completely before the end of the session or an error in the session.

## Task
You need to use the Spark SQL, Spark RDD and Spark DF interfaces to create a solution file, the lines of which contain **the 30 most frequent user routes** on the site.

Each line of the file should contain the `route` and `count` values **separated by tabs**, where:
* `route` - route on the site, consisting of pages separated by "-".
* `count` - the number of user sessions in which this route was.

The lines must be **ordered in descending order** of the `count` field.

## Criteria
You can get maximum of 3.5 points (final grade) for this assignment, depedning on the number of interface you manage to leverage. The criteria are as follows:

* 0.5 points – Spark SQL solution with 1 query
* 0.5 points – Spark SQL solution with <=2 queries
* 0.5 points – Spark RDD solution
* 0.5 points – Spark DF solution
* 0.5 points – your solution algorithm is relatively optimized, i.e.: no O^2 or O^3 complexities; appropriate object usage; no data leaks etc. This is evaluated by staff.
* 1 point – 1 on 1 screening session. During this session staff member can ask you questions regarding your solution logic, framework usage, questionable parts of your code etc. If your code is clean enough, the staff member can just ask you to solve a theoretical problem connected to Spark.

In [1]:
import pandas as pd

import findspark
findspark.init()

from pyspark import SparkContext
from pyspark.sql import SparkSession

sc = SparkContext(appName="SGA")
se = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-01-21 13:41:22,364 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [2]:
clickstream = se.read.csv('hdfs:/data/clickstream.csv', header=True, sep='\t')
clickstream.registerTempTable("clickstream")
clickstream.limit(5).toPandas()

  user_id session_id    event_type event_page   timestamp
0     562        507          page       main  1695584127
1     562        507         event       main  1695584134
2     562        507         event       main  1695584144
3     562        507         event       main  1695584147
4     562        507  wNaxLlerrorU       main  1695584154

# Spark SQL

In [3]:
sql_solution = se.sql(
    """
    WITH error_table as
    (
    SELECT *, SUM(CAST(event_type LIKE '%error%' AS int))
              OVER(PARTITION BY user_id, session_id
                   ORDER BY timestamp, event_type, event_page) error
    FROM clickstream
    ), distinct_table as
    (
    SELECT distinct user_id, session_id, event_page,
    SUM(CAST(event_page != LAG(event_page, 1, event_page)
                           OVER(PARTITION BY user_id, session_id
                                ORDER BY timestamp, event_type, event_page)
        AS int))
    OVER(PARTITION BY user_id, session_id
         ORDER BY timestamp, event_type, event_page) change
    FROM error_table
    WHERE error = 0
    ), route_table AS
    (
    SELECT distinct user_id, session_id,
    REPLACE(
            REPLACE(
                    REPLACE(
                            CAST(COLLECT_LIST(event_page)
                                 OVER(PARTITION BY user_id, session_id)
                                 AS string),
                            "[",
                            ""
                            ),
                     "]",
                     ""
                     ),
            ", ",
            "-"
            ) route
    FROM distinct_table
    )
    SELECT route, COUNT(*) count
    FROM route_table
    GROUP BY route
    ORDER BY count DESC, route DESC
    LIMIT 30;
    """
)
sql_solution.show(30)
sql_solution.toPandas().to_csv('sql_solution.csv', sep='\t')

+--------------------+-----+
|               route|count|
+--------------------+-----+
|                main| 8184|
|        main-archive| 1112|
|         main-rabota| 1047|
|       main-internet|  896|
|          main-bonus|  870|
|           main-news|  769|
|        main-tariffs|  677|
|         main-online|  587|
|          main-vklad|  518|
| main-rabota-archive|  170|
| main-archive-rabota|  167|
|  main-bonus-archive|  143|
|   main-rabota-bonus|  138|
|   main-bonus-rabota|  136|
|    main-news-rabota|  135|
|main-archive-inte...|  132|
|    main-rabota-news|  130|
|main-internet-rabota|  129|
|   main-archive-news|  126|
|main-rabota-internet|  124|
|main-internet-arc...|  123|
|  main-archive-bonus|  117|
| main-internet-bonus|  115|
|main-tariffs-inte...|  114|
|   main-news-archive|  113|
|  main-news-internet|  109|
|main-archive-tariffs|  104|
|main-tariffs-archive|  103|
|  main-internet-news|  103|
|    main-rabota-main|   94|
+--------------------+-----+

# Spark RDD

In [4]:
def to_route(x):
    route = []
    last_word = None
    sort_x = sorted(x, key=lambda x: (x.timestamp,
                                      x.event_type,
                                      x.event_page))
    for i in sort_x:
        if 'error' in i.event_type:
            return '-'.join(route)
        if last_word != i.event_page:
            route.append(i.event_page)
            last_word = i.event_page
    return '-'.join(route)

rdd_solution = (
    clickstream.rdd
    .groupBy(lambda x: (x.user_id, x.session_id))
    .map(lambda x: (to_route(list(x[1])), 1))
    .reduceByKey(lambda a, b: a + b)
    .sortBy(lambda x: (x[1], x[0]), ascending = False)
    .take(30)
)

print(*rdd_solution, sep='\n')

(
    pd.DataFrame(rdd_solution, columns=['route', 'count'])
    .to_csv('rdd_solution.csv', sep='\t')
)

('main', 8184)
('main-archive', 1112)
('main-rabota', 1047)
('main-internet', 896)
('main-bonus', 870)
('main-news', 769)
('main-tariffs', 677)
('main-online', 587)
('main-vklad', 518)
('main-rabota-archive', 170)
('main-archive-rabota', 167)
('main-bonus-archive', 143)
('main-rabota-bonus', 138)
('main-bonus-rabota', 136)
('main-news-rabota', 135)
('main-archive-internet', 132)
('main-rabota-news', 130)
('main-internet-rabota', 129)
('main-archive-news', 126)
('main-rabota-internet', 124)
('main-internet-archive', 123)
('main-archive-bonus', 117)
('main-internet-bonus', 115)
('main-tariffs-internet', 114)
('main-news-archive', 113)
('main-news-internet', 109)
('main-archive-tariffs', 104)
('main-tariffs-archive', 103)
('main-internet-news', 103)
('main-rabota-main', 94)

# Spark DF

In [5]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, col, lag, \
                                  regexp_replace, collect_list

window = (Window
          .partitionBy(["user_id", "session_id"])
          .orderBy(["timestamp", "event_type", "event_page"]))
window_collect_list = Window.partitionBy(["user_id",
                                          "session_id"])

df_solution = (
    clickstream
    .withColumn("error", sum(col("event_type")
                             .like('%error%')
                             .cast('int')).over(window))
    .orderBy("timestamp", "event_type", "event_page")
    .filter(col("error") == 0)
    .withColumn("change", sum((col("event_page") != lag("event_page")
                               .over(window))
                              .cast('int'))
                .over(window))
    .fillna({"change": 0})
    .select("user_id", "session_id", "event_page", "change")
    .distinct()
    .select(
        "user_id",
        "session_id",
        (
            regexp_replace(
                regexp_replace(
                    collect_list('event_page')
                    .over(window_collect_list)
                    .cast("string"),
                    '[\\[\\]]', ''
                ),
                ', ', '-')
        ).alias('route')
    )
    .distinct()
    .groupBy('route')
    .count()
    .orderBy(['count', 'route'], ascending=[False, False])
    .limit(30)
)

df_solution.show(30)
df_solution.toPandas().to_csv('df_solution.csv', sep='\t')

+--------------------+-----+
|               route|count|
+--------------------+-----+
|                main| 8184|
|        main-archive| 1112|
|         main-rabota| 1047|
|       main-internet|  896|
|          main-bonus|  870|
|           main-news|  769|
|        main-tariffs|  677|
|         main-online|  587|
|          main-vklad|  518|
| main-rabota-archive|  170|
| main-archive-rabota|  167|
|  main-bonus-archive|  143|
|   main-rabota-bonus|  138|
|   main-bonus-rabota|  136|
|    main-news-rabota|  135|
|main-archive-inte...|  132|
|    main-rabota-news|  130|
|main-internet-rabota|  129|
|   main-archive-news|  126|
|main-rabota-internet|  124|
|main-internet-arc...|  123|
|  main-archive-bonus|  117|
| main-internet-bonus|  115|
|main-tariffs-inte...|  114|
|   main-news-archive|  113|
|  main-news-internet|  109|
|main-archive-tariffs|  104|
|main-tariffs-archive|  103|
|  main-internet-news|  103|
|    main-rabota-main|   94|
+--------------------+-----+

# CHECK

In [6]:
sql_solution_df = pd.read_csv('sql_solution.csv', index_col=0, sep='\t')
rdd_solution_df = pd.read_csv('rdd_solution.csv', index_col=0, sep='\t')
df_solution_df = pd.read_csv('df_solution.csv', index_col=0, sep='\t')

print(sql_solution_df.equals(rdd_solution_df),
      rdd_solution_df.equals(df_solution_df),
      sql_solution_df.equals(df_solution_df),
      sep='\n')

True
True
True